# Ignore everything
*

# This file
!.gitignore

# Zed config
!.zed/
!.zed/**

# Root
!README.md
!DESIGN.md
!CHANGELOG.md
!LICENSE

# Cargo
!Cargo.lock
!Cargo.toml

# Source
!src/
!src/**

# Examples
!examples/
!examples/**

# Docs
!docs/
!docs/**
!docs/.gitignore

# Except docs build output
docs/dist/
docs/target/
